/*estilos del encabezado*/
header{
  background-color: #FFE521;
  display: inline-block;
  height: 100px;
  width: 100%;
  margin: 0%;
}
figure{
  margin: 0;
  height: 100px;  
  text-align: center;
}
img{
  margin: 0;
  height: 100px;
}
/*estilos del menu*/
#menu{
  background-color: #FFE521;
  width: 25%;
  height: -webkit-fill-available;
  float: left;
}
#sedes{
  padding: 9px;
}
#select-cohorts{
  width: 100%;
}
#btnAlumnas{
  padding: 3px;
}
#btnMostrarUser{
  text-align: center;
  text-decoration-color: #333333;
  border-radius: 8px;
  float: left;
  font-family: Bitter Regular;
}
/*estilos de contenido*/
#contenido{
  background-color: #eeeeee;
  float: right;
  width: 75%;
  height: -webkit-fill-available;
}