* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Style the header */
header {
  background-color: #ffffff;
  display: inline-block;
  height: 100px;
  width: 100%;
  margin: 0%;
}
figure{
margin: 0;
height: 100px;  
text-align: center;
}
img{
margin: 0;
height: 100px;
}


#contenedor {
  display: inline-block;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 100%;
  margin: 0%;
  text-align: left;
}

#sedes{
  padding: 0%;
  margin: 0%;
}
#select-cohorts{
width: 100%;
}


/* Clear floats after the columns */
#contenedor:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  #contenedor {
      width: 100%;
      height: 100%;
  }
}